.column-heading h3 {
  font-size: 1rem;
  color: var(--white);
  font-family: var(--boldFont);
}
@media screen and (max-width: 740px) {
  .controls .add-new-task,
  .controls .add-new-task .green-btn {
    width: 100%;
  }
}
